<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Danh sách sinh viên</h1>
    <table>
      <thead>
        <tr>
          <th>Mã số sinh viên</th>
          <th>Họ và tên</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="sv : ${dsSV}">
          <td th:text="${sv.maSoSV}">Mã SV</td>
          <td th:text="${sv.hoVaTen}">Tên SV</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination" th:if="${dsSV.totalPages > 0}">
      <a
        href="#"
        th:each="pageNumber : ${pageNumbers}"
        th:href="@{/danhsachSV(size=${dsSV.size}, page=${pageNumber})}"
        th:text="${pageNumber}"
        th:class="${pageNumber == dsSV.number + 1} ? 'active' : ''"
      ></a>
    </div>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var pageNumbers = /*[[${pageNumbers}]]*/ [pageNumber];
      var dsSV = /*[[${dsSV.content}]]*/ [dsSV];
      console.log(dsSV);
      console.log(pageNumbers);
      /*]]>*/
    </script>
  </body>
</html>
